*{
    margin: 0;
    padding: 0;
}
body{
    
    padding: 0 7vw;
    text-transform: capitalize;
    
}
.first{
    margin: 2vh 0;
    text-align: center;
    font-family: fantasy;
}
.first1{
    background-color:  #f8f9fa;
    padding: 2vh 0 5vh 0;
    border-radius: 44px;
}

.second0{
    margin-left: 2vw;
}
.second{
   
    display: flex;
    justify-content: space-between;
 

}
.second1{
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
}
.second2 img{
    height: 40vh;
    width: 70%;
    margin-left: 10vw;
}
/* -------------------------------------------------------------------------------------------- */



.third{
    background-color:  #f8f9fa;
    padding: 2vh 0;
    margin-top: 5vh;
    border-radius: 44px;
   
}

.third0{
  
    text-align: end;
    margin-right: 33%;
}
.third1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
 

}
.third2{
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
    margin-right: 3vw;
}
.third3 img{
    height: 50vh;
    width: 70%;
    margin: -4vh 8vw 2vh 8vw;
}
/* --------------------------------------------------------------------------------------------------- */


.fourth{
    background-color:  #f8f9fa;
    padding: 2vh 0;
    margin-top: 5vh;
    border-radius: 44px;
}

.fourth0{
    margin-left: 2vw;
}
.fourth1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
 

}
.fourth2{
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
}
.fourth3 img{
    height: 30vh;
    width: 40%;
   margin:-4vh 7vw 3vh 7vw;
}
/* -------------------------------------------------------------------------------------------------------- */


.fifth{
    background-color:  #f8f9fa;
    padding: 2vh 0;
    margin-top: 5vh;

    border-radius: 44px;
}

.fifth0{
  
    text-align: end;
    margin-right: 35%;
}
.fifth1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
 

}
.fifth2{
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
    margin-right: 3vw;
}
.fifth3 img{
    height: 30vh;
    width: 50%;
    margin: 0 8vw;
}
/* ----------------------------------------------------------------------------------------------------- */


.sixth{
    background-color:  #f8f9fa;
    padding: 2vh 0;
    margin-top: 5vh;
    border-radius: 44px;
}

.sixth0{
    margin-left: 2vw;
}
.sixth1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
 

}
.sixth2{
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
}
.sixth3 img{
    height: 30vh;
    width: 35%;
   margin:-4vh 7vw 3vh 7vw;
}
/* ------------------------------------------------------------- */


.seventh{
    background-color:  #f8f9fa;
    padding: 2vh 0;
    margin-top: 5vh;
    border-radius: 44px;
   
}

.seventh0{
  
    text-align: end;
    margin-right: 19%;
}
.seventh1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
 

}
.seventh2{
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-left: 2vw;
    line-height: 4vh;
    margin-right: 3vw;
}
.seventh3 img{
    height: 30vh;
    width: 50%;
    margin: 0 8vw;
}